{% extends 'base.html' %}
{% block contents %}
  <br>
  <h3>for kakao map</h3>
    <div id="map" style="width: 500px; height: 400px;"></div>
    <script
      type="text/javascript"
      <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=06eee32c30ee7e7d259c598a56468269"></script>
    ></script>
    <script>
      var container = document.getElementById("map");
      var options = {
        center: new kakao.maps.LatLng({{locates.we}},{{locates.ku}}),
        level: 3,
      };

      var map = new kakao.maps.Map(container, options);
    </script>
    <br>
    <a href="{% url 'index'%}"> home으로 </a>
  </body>
</html>

{% endblock %}
